/home/.tmux
!/home/.tmux/plugins/tpm

home/.diegoximenes.zsh-theme.antigen-compat

config/yarn/global/*
!config/yarn/global/package.json
!config/yarn/global/yarn.lock

config/dunst/dunstrc
config/alacritty/alacritty.toml
config/i3/config
config/polybar/config

config/vlc/vlc-qt-interface.conf

home/.mozilla/*
!home/.mozilla/firefox
home/.mozilla/firefox/*
!home/.mozilla/firefox/profiles.ini
!home/.mozilla/firefox/profiles
home/.mozilla/firefox/profiles/diego/*
!home/.mozilla/firefox/profiles/diego/user.js.tpl
