[user]
    name = Diego Ximenes
    email = dxmendes1@gmail.com

[alias]
    stagedelete = "!git ls-files --deleted -z | xargs -0 git rm"
    undolastcommit = reset HEAD~
    deleteuselessbranches = "!f() { git branch | grep -v 'master' | grep -v '^*' | xargs git branch -d; }; f;"
    pullhard = "!f() { \
            git fetch; \
            git status -sb | grep '##*' | cut -d'.' -f4 | cut -d' ' -f1 | xargs git reset --hard; \
        }; f;"
    pushdefault = push -u origin HEAD
    autorebase = "!f() { git rebase -i HEAD~\"$1\"; }; f"

[core]
    editor = nvim
    pager = delta

[merge]
    conflictstyle = diff3

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true    # use n and N to move between diff sections
    side-by-side = true
    line-numbers = true

[diff]
    colorMoved = default

[pull]
    ff = only

[url "ssh://git@github.com/"]
    insteadOf = https://github.com/
