[user]
    name = Diego Ximenes
    email = dxmendes1@gmail.com

[alias]
    stagedelete = "!git ls-files --deleted -z | xargs -0 git rm"
    undolastcommit = reset HEAD~
    deleteuselessbranches = "!f() { git branch | grep -v 'master' | grep -v '^*' | xargs git branch -d; }; f;"
    pullhard = "!f() { \
            git fetch; \
            git status -sb | grep '##*' | cut -d'.' -f4 | cut -d' ' -f1 | xargs git reset --hard; \
        }; f;"
    l = log --graph --decorate

[core]
    editor = nvim

[merge]
    conflictstyle = diff3
