[MAIN]

disable=
    invalid-name,
    too-few-public-methods,
    missing-module-docstring,
    missing-function-docstring,
    missing-class-docstring,
    consider-using-f-string,
    too-many-arguments
